<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <title>Shortfolio</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/styles/general.css" />
  <link rel="stylesheet" href="/styles/buttons.css" />
  <link rel="stylesheet" href="/styles/animate.css" />
  <link rel="stylesheet" href="/styles/admin.css" />
  <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container container wide fade-in">
    <h1 class="title">Admin Page</h1>
    <p class="bio">Manage users</p>
    <p id="error">{{error}}</p>
    <table class="users-table">
      <thead>
        <tr> 
          <th class="username-col"> Username </th>
          <th class="title-col"   > Title </th>
          <th class="bio-col"     > Bio </th>
          <th class="image-col"   > Image </th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
          <tr id="{{this.username}}">
            <td class="username-col">
              <p>{{this.username}}</p>
            </td>
            <td class="title-col">
              <p>{{this.title}}</p>
            </td>
            <td class="bio-col">
              <p>{{{this.bio}}}</p>
            </td>
            <td class="image-col">
              <img src="{{this.url}}" />
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div id="greyout" class="hide"></div>
  <div id="popup" class="hide">
    <p class="bio">Delete user</p>
    <p id="confirm-delete">You are about to delete user X</p>
    <form action="deleteUser" method="POST" >
      <input type="text" value="" hidden="hidden" id="delete-user-input" name="username" />
      <input type="submit" value="Confirm" class="button" />
    </form>
    <p>(click elsewhere to cancel)</p>
  </div>

  <form action="logout" class="top-left fade-in late" >
      <input type="submit" value="Logout" class="button" />
  </form>

  <script src="/js/admin.js"></script>
</body>
</html>