<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/general.css" />
    <link rel="stylesheet" href="/styles/animate.css" />
    <style>
      body {
        background:
          linear-gradient(
            rgba(255,255,255, 0.25),
            rgba(255,255,255, 0.25)
          ),
          url({{imageUrl}});
      }
      .container-personal {
        font-family: {{font}};
      }
    </style>
    <link rel="stylesheet" href="/styles/background.css" />

    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet" />
  </head>
  <body>
    <div class="container-personal fade-in">
      <h1 class="title">{{title}}</h1>
      <p class="bio">{{{bio}}}</p>
    </div>
    <div class="social-footer fade-in late">
      {{#each social}}
          <a href={{this.link}} target="_blank">
            <img src="/icons/{{this.platform}}.svg" class="social-icon" />
          </a>
      {{/each}}
    </div>
  </body>
</html>